@page "{id:int}"
@model TaskManager.Pages.DeleteModel
@{
    var task = Model.Task;
}

<p>Are you sure to delete @($"{task.Id} {task.Description}")?</p>

<form asp-page="Delete">
    <button type="submit" class="text-danger h1">Delete</button>
</form>
