@page "{id:int}"
@model TaskManager.Pages.EditModel
@{
}

<form asp-page="Edit">
    <div class="form-group">
        <label asp-for="Task.Description"></label>
        <input class="form-control" asp-for="Task.Description" />
    </div>
    <div class="form-group">
        <label asp-for="Task.DueDate"></label>
        <input class="form-control" asp-for="Task.DueDate" />
    </div>
    <div class="form-group">
        <label asp-for="Task.IsCompleted"></label>
        <select class="form-control" asp-for="Task.IsCompleted">
            <option value="True">Completed</option>
            <option value="False">Not Completed</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="text-danger" asp-validation-summary="All"></div>
